/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.top-section {
  background-color: #EDFBFF;
}
.top-section .background-img {
  background: url(../images/bg-hero-desktop.svg);
  width: 100%;
}
@media (max-width:600px) {
  .top-section .background-img {
    background: url(../images/bg-hero-mobile.svg);
  }
}
.top-section .background-img nav {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding-right: 10px;
  padding-left: 10px;
}
@media (max-width:600px) {
  .top-section .background-img nav .logo {
    width: 200px;
  }
}
.top-section .background-img nav .button {
  padding: 1rem 6rem;
  border-radius: 20px;
  color: black;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-decoration: none;
  box-shadow: 0px 1px 6px 2px #b8b2b2;
}
@media (max-width:600px) {
  .top-section .background-img nav .button {
    padding: 1rem 3rem;
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width:600px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}
.hero div {
  max-width: 48%;
}
@media (max-width:600px) {
  .hero div {
    max-width: 90%;
    text-align: center;
  }
}
.hero div h1 {
  font-size: 4rem;
  color: hsl(192, 100%, 9%);
  line-height: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 3rem 0 2rem 0;
  width: 90%;
}
@media (max-width:600px) {
  .hero div h1 {
    font-size: 3rem;
    width: 100%;
    padding: 0 0 2rem 0;
  }
}
.hero div p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  width: 90%;
  padding-bottom: 5rem;
}
@media (max-width:600px) {
  .hero div p {
    width: 100%;
  }
}
.hero div a {
  padding: 2rem 8rem;
  border-radius: 40px;
  color: white;
  background-color: hsl(322, 100%, 66%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-decoration: none;
  box-shadow: 0px 1px 3px 2px #b8b2b2;
}
.hero div img {
  max-width: 100%;
}
@media (max-width:600px) {
  .hero div img {
    padding-top: 5rem;
  }
}
.benefits-grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding-right: 10px;
  padding-left: 10px;
  padding: 3rem 0;
}
.benefits-grid .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 8px hsl(193, 100%, 96%);
  margin: 8rem 0;
}
.benefits-grid .row:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width:600px) {
  .benefits-grid .row {
    flex-direction: column-reverse;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-evenly;
    height: 40rem;
  }
  .benefits-grid .row:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.benefits-grid .row .body {
  max-width: 49%;
  box-shadow: none;
  padding: 0 5%;
}
@media (max-width:600px) {
  .benefits-grid .row .body {
    max-width: 90%;
    text-align: Center;
  }
}
.benefits-grid .row .body h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding-left: 20%;
  padding-bottom: 2rem;
  width: 100%;
}
@media (max-width:600px) {
  .benefits-grid .row .body h2 {
    padding-left: 0;
  }
}
.benefits-grid .row .body p {
  padding-left: 20%;
  width: 100%;
  font-size: 1.4rem;
  color: hsl(208, 11%, 55%);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.8rem;
}
@media (max-width:600px) {
  .benefits-grid .row .body p {
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.benefits-grid .row .figure {
  max-width: 49%;
  box-shadow: none;
  padding: 5% 5%;
}
.benefits-grid .row .figure img {
  max-width: 100%;
}
.benefits-grid .cta-offset {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  box-shadow: 0px 0px 2px 2px hsl(193, 100%, 96%);
  border-radius: 10px;
  background-color: white;
  position: relative;
  top: 12rem;
  text-align: center;
  padding-bottom: 6rem;
}
@media (max-width:600px) {
  .benefits-grid .cta-offset {
    max-width: 90%;
    margin-top: -9rem;
  }
}
.benefits-grid .cta-offset h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 4rem 0 5rem 0;
}
.benefits-grid .cta-offset a {
  padding: 2rem 8rem;
  border-radius: 40px;
  color: white;
  background-color: hsl(322, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: none;
  box-shadow: 0px 1px 3px 2px #b8b2b2;
}
footer {
  padding-top: 20rem;
  padding-bottom: 10rem;
  background-color: hsl(192, 100%, 9%);
}
footer .footer-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
}
@media (max-width:600px) {
  footer .footer-wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
footer .footer-wrapper img {
  padding-bottom: 2rem;
}
footer .footer-wrapper .footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
@media (max-width:600px) {
  footer .footer-wrapper .footer-content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    text-align: left;
  }
}
footer .footer-wrapper .footer-content .footer-big-col {
  flex-grow: 2;
  font-size: 1.4rem;
  line-height: 2rem;
  color: white;
  max-width: 300px;
  padding-left: 3rem;
}
footer .footer-wrapper .footer-content .footer-big-col li:nth-child(1) {
  list-style-image: url("../images/icon-location.svg");
  padding-left: 1rem;
}
footer .footer-wrapper .footer-content .footer-big-col li:nth-child(2) {
  list-style-image: url("../images/icon-phone.svg");
  padding: 2rem 0;
  padding-left: 1rem;
}
footer .footer-wrapper .footer-content .footer-big-col li:nth-child(3) {
  list-style-image: url("../images/icon-email.svg");
  padding-left: 1rem;
}
@media (max-width:600px) {
  footer .footer-wrapper .footer-content .footer-big-col {
    padding-left: 5%;
    padding-bottom: 2rem;
  }
}
footer .footer-wrapper .footer-content .footer-sm-col {
  flex-grow: 1;
  padding-left: 5%;
}
footer .footer-wrapper .footer-content .footer-sm-col .footer-link {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}
footer .footer-wrapper .footer-content .footer-sm-col .icon img {
  width: 20%;
  height: 20%;
  padding: 1rem;
}
footer .footer-wrapper p {
  float: right;
  padding-top: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}
@media (max-width:600px) {
  footer .footer-wrapper p {
    float: none;
    text-align: center;
  }
}
