footer {
    padding-top: 20rem;
    padding-bottom: 10rem;
    background-color: @dark-cyan;

    .footer-wrapper {
        .wrapper();
        display:block; 

        @media @mobile {
            padding-left:5%;
            padding-right:5%
        }

        .logo_big {
            padding-bottom: 2rem;
        
            @media @mobile {
                display:none;
            }
        }

        .logo_small {
            display:none;

            @media @mobile {
                display:inline;
                padding-bottom: 2rem;
            }
        }


        .footer-content {
            display:flex;
            align-items:flex-start;
            justify-content: space-between;
            flex-grow:5;
            font-family: @body-font;
            font-weight: @body-weight;

            @media @mobile {
                flex-direction:column;
                align-items:flex-start;
                width:100%;
                text-align:left;
            }

            .footer-big-col {
                flex-grow: 2;
                font-size: 1.4rem;
                line-height: 2rem;
                color:white;
                max-width: 300px;
                padding-left:3rem;

                @media @tablet {
                    max-width:250px;
                }

                li:nth-child(1) {
                    list-style-image: url("../images/icon-location.svg");
                    padding-left:1rem;
                }

                li:nth-child(2) {
                    list-style-image: url("../images/icon-phone.svg");
                    padding: 2rem 0;
                    padding-left:1rem;
                }
                li:nth-child(3) {
                    list-style-image: url("../images/icon-email.svg");
                    padding-left:1rem;
                }

                @media @mobile {
                    padding-left:8%;
                    padding-bottom: 2rem;
                    max-width:100%;
                }
            }

            .footer-sm-col {
                flex-grow: 1;
                padding-left: 5%;

                @media @tablet{
                    padding-right:0;
                    padding-left:2%;
                }
                
                .footer-link {
                    display:flex;
                    flex-direction:column;
                    text-align:left;
                    width:100%;
                    padding: 1rem;
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: white;

                    @media @tablet {
                        padding-left:0;
                        font-size:1.4rem;
                        padding-right:0;
                    }
                }
            }

            .icons {
                flex-grow: 1;
                @media @mobile {
                    margin-left: auto;
                    margin-right: auto;
                }

                .icon { 
                    padding: 1rem;
                    max-height:100%;
                }
            }
        }

        p {
            float:right;
            padding-top: 2rem;
            font-family: @body-font;
            font-weight: @body-weight;
            font-size:1.2rem;
            color: white;

            @media @mobile {
                float:none;
                text-align:center;
            }
        }
    }
}